<nav class="group user-image-box sidebar left" id="user-show-sidebar">

  <div>

  	 <% if !@user.avatar?; %>

  	<%= link_to image_tag(@user.photo_medium, class: "user-image-medium centered", id: "user-image"), @user, method: :get %>
  	<%end %>
  	<% if @user.avatar?; %>

  	<%= link_to image_tag(@user.avatar_url, class: "user-image-medium centered", id: "user-image"), @user, method: :get %>
  	<%end %>

  </div>

  <h3 class="dark-gray centered" id="user-show-username"><%= "#{@user.first_name}" %></h3>

</nav>