<nav class="group" id="logo-banner">
  <ul>

    <li id="logo-item">
      <%= link_to image_tag("/gathsy-logo_sm.png", :alt => "Gathsy"), root_url, method: :get, id: "site-logo" %>
    </li>

    <li id="search-bar">
      <%= render "header/header_search_bar" %>
    </li>

  </ul>
</nav>