<nav class="group" id="logo-banner">
  <ul>

    <li id="logo-item">
      <%= link_to "gathsy", root_url, method: :get, id: "site-logo" %>
    </li>

    <li id="search-bar">
      <%= render "header/header_search_bar" %>
    </li>

  </ul>
</nav>